numpy==1.19.0
pandas
more-itertools 
scipy
matplotlib
statsmodels
scipy
google-cloud-storage==1.29.0
google-auth-oauthlib==0.4.1
treelib==1.6.1
scikit-learn
tensorflow==1.15.0
tensorflow-probability==0.8.0
plotly
networkx
torch
streamlit


